/* ---------- Hero ---------- */

.hero {
    margin: 40px auto;
    padding: 15px;
    text-align: center;
}

.hero-content {
    max-width: 700px;
    margin: 0 auto;
}

.hero-title {
    font-size: 2.8rem;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.hero-subtitle {
    font-size: 1.4rem;
    opacity: 0.9;
}


/* ---------- Formulario ---------- */

