/* ---------- Estilos Globales ---------- */

:root {
    --bg-color: #f8f8f8;
    --text-color: #333;

    --nav-bg: #1C252C;
    --nav-text: #E5EBEF;
    --nav-link-hover: #83b6da;

    --card-bg: #fff;
}


/* ---------- Navegación ---------- */

.navbar-lofi {
    background: var(--nav-bg);
    padding: 0.8rem 1rem;
}

.navbar-lofi .navbar-brand {
    color: var(--nav-text);
    font-weight: 800;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
}

.navbar-brand img {
    height: 50px;
    margin-right: 10px;
}

.nav-link {
    color: var(--nav-text);
    font-size: 18px;
    margin: 0 8px;
    transition: 0.3s ease;
}

.nav-link:hover {
    color: var(--nav-link-hover);
    transform: translateY(-2px);
}

#navCollapseBtn { 
    border: none; 
} 

.navbar-toggler-icon { 
    filter: invert(90%); 
}

.navbar-nav {
    display: flex;
    align-items: center;
}

#darkModeBtn {
    color: var(--nav-text);
    width: auto;
    margin-left: 10px;
    transition: 0.3s ease;
}

#darkModeBtn:hover {
    color: var(--nav-link-hover);
    transform: translateY(-2px);
}


/* ---------- Hero ---------- */

.hero {
    text-align: center;
    padding: 10px;
    background: #1C252C;
}

.hero-title {
    font-size: 4rem;
    color: #AFCBDF;
    letter-spacing: 5px;
}

.hero-subtitle {
    font-size: 1.5rem;
    color: #E5EBEF;
    opacity: 0.85;
}

.hero-container {
    display: flex;
    margin-top: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.hero-btn {
    background: #AFCBDF14; 
    border: 1px solid #AFCBDF40; 
    color: #E5EBEF;
    padding: 10px;
    border-radius: 100px;
    font-size: 1rem;
    font-weight: 700;
    transition: 0.3s;
    box-shadow: 0 0 10px #AFCBDF26;
    text-decoration: none;
}

.hero-btn:hover {
    background: #AFCBDF99;
    color: #1C252C;
    text-decoration: none;
}


/* ---------- Carrusel ---------- */

.carousel-lofi {
    max-width: 720px;
    margin: 20px auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow:
        0 0 35px #0091ff66,
        0 0 60px #02294c40;  
}


/* ---------- Presentación ---------- */

.presentacion-lofi {
    max-width: 850px;
    margin: 30px auto;
    text-align: center;
}

.presentacion-text {
    font-size: 1.3rem;
    line-height: 1.5;
    margin-bottom: 30px;
}


/* ---------- Cartas ---------- */

.cards-container {
    justify-content: center;
    padding: 15px;
}

.cards-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.card-mood {
    border-color: #1C252C;
    border-radius: 30px;
    transition: 0.3s;
}

.card-mood:hover {
    color: #83b6da;
    transform: translateY(-5px);
}

.img-mood {
    max-width: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
    height: 100%;  
}

.title-mood {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 900;
}

.text-mood {
    text-align: justify;
    font-size: 1.1rem;
    line-height: 1.8;
}

.btn-container {
    display: flex;
    margin-top: auto;
    justify-content: center;
}

.btn-mood {
    background: #AFCBDF33;
    border: 2.5px solid;
    color: #1C252C;
    padding: 6px 14px;
    border-radius: 50px;
    font-weight: 600;
    transition: 0.3s;
    text-decoration: none;
}

/* ---------- Carta Alegría ---------- */

.card-alegria .title-mood {
    color: darkgoldenrod; 
}

.btn-alegria {
    border-color: #eacb66;
}

.btn-alegria:hover {
    background: #FFEBC7;
}


/* ---------- Carta Tristeza ---------- */

.card-tristeza .title-mood {
    color: darkblue; 
}

.btn-tristeza {
    border-color: #6e9de0ee;
}

.btn-tristeza:hover {
    background: #C8D8EA;
}


/* ---------- Carta Furia ---------- */

.card-furia .title-mood {
    color: darkred; 
}

.btn-furia {
    border-color: #cf5959cc;
}

.btn-furia:hover {
    background: #F5B4B4;
}


/* ---------- Carta Desagrado ---------- */

.card-desagrado .title-mood {
    color: darkgreen; 
}

.btn-desagrado {
    border-color: #7fb564cc;
}

.btn-desagrado:hover {
    background: #D6EDC7;
}


/* ---------- Carta Temor ---------- */

.card-temor .title-mood {
    color: darkmagenta; 
}

.btn-temor {
    border-color: #64569ccc;
}

.btn-temor:hover {
    background: #D2CBE9;
}